<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-between">
      <%= link_to trades_buy_path, class: 'btn btn-success btn-lg rounded-pill mb-4 px-5 text-nowrap buy_btn' do %>
        <i class="fa-solid fa-up-long me-2"></i> Buy
      <% end %>
      <%= link_to trades_reverse_path, class: 'btn btn-outline-dark btn-lg rounded-pill mb-4 px-5 text-nowrap reverse_btn' do %>
        <i class="fas fa-sync-alt me-2"></i> Reverse
      <% end %>
      <%= link_to trades_sell_path, class: 'btn btn-warning btn-lg rounded-pill mb-4 px-5 text-nowrap sell_btn' do %>
        <i class="fa-solid fa-down-long me-2"></i> Sell
      <% end %>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <%= link_to trades_square_off_path, class: 'btn btn-danger btn-lg rounded-pill mb-4 mx-4 px-5 text-nowrap exit_btn' do %>
        <i class="fa-solid fa-xmark me-2"></i> Close All
      <% end %>
    </div>
  </div>
</div>