@media (max-width: 767px) { /* Below Bootstrap md (768px) */
  .row {
    display: flex;
    justify-content: center;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .btn {
    width: auto;
  }
}

@media (max-width: 767px) {
  .exit_btn {
    transform: rotate(-90deg);
    min-width: 180px;
  }

  .exit_btn span {
    display: none;
  }

  .first {
    max-width: 70%;
  }

  .second {
    max-width: 30%;
  }
}
