<div id="<%= dom_id account %>">
  <p>
    <strong>Access token:</strong>
    <%= account.access_token %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= account.account_id %>
  </p>

  <p>
    <strong>Capital:</strong>
    <%= account.capital %>
  </p>

</div>
