<h1>Account</h1>

<div id="accounts">
  <% @accounts.each do |account| %>
    <%= render account %>
    <p>
      <%= link_to "Edit account", edit_account_path(account), class: 'btn btn-danger' %>
    </p>
  <% end %>
</div>